{% extends 'base.html' %}

{% block content %}


<div class="container" style="margin-top: 30px">

	<div class="row">
		<div class="col-sm-4 " >

			<form action="add" method="get">
				
				<h3>Instrucciones: ingrese texto para poder encriptar</h3>
				<p>Ingrese texto a encriptar: <input type="text" name="txt"></p>
				<button type="submit" name="Encriptar" >Encriptar</button>	
				<!--Enter 2nd number: <input type="text" name="num2"><br>-->	
			</form>	

		</div>

		<div class="col-sm-8 ">
			<form action= "add" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="document">
				<button type="submit">Encriptar Archivo</button>
			</form>	
		</div>
	</div>
	
</div>




{% endblock %}